div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 0 auto;/* puts in the center as we set to auto */
    margin-top: 10px;
    transition: margin-top 1s ease-in 0.2s;
}
div:hover{
    margin-top: 400px;
    background-color: chocolate;
}