.container{
    background-color: pink;
    height: 100vh;
    border: 2px solid black;
    margin: 0px;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 3fr 6fr 3fr ;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "header header header"
      "sidebar navigation ads"
     " sidebar main ads"
      "footer footer footer";
    grid-gap: 10px;
}
.header{grid-area: header;}
.sidebar{grid-area: sidebar;}
.navigation{grid-area: navigation;}
.ads{grid-area: ads;}
.main{grid-area: main;}
.footer{grid-area: footer;}

ans2

@media (max-width: 720px){
    .container{
        grid-template-columns: 3fr 9fr ;
        grid-template-rows: 1fr 1fr 9fr 1fr;
        grid-template-areas: "header header"
                    "navigation navigation"
                    "sidebar main"
                    "ads footer";
    }
    .header{grid-area: header;}
    .sidebar{grid-area: sidebar;}
    .navigation{grid-area: navigation;}
    .main{grid-area: main;}
    .ads{grid-area: ads;}
    .footer{grid-area: footer;}

}